@page "/destructions/add-register-of-emergency-building"
@layout MainLayout
@inherits Reestr.Blazor.Component.Destructions.AddRegisterOfEmergencyBuildingsComponent

@using Radzen
@using Radzen.Blazor
@using Reestr.Database.Model

<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="RegisterOfEmergencyBuildings" Data="@registerofemergencybuilding" Visible="@(registerofemergencybuilding != null)" Submit="@Form0Submit">
                    <ChildContent>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Microdistrict" Component="MicrodistrictId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value="@(registerofemergencybuilding.MicrodistrictId)"
                                                Placeholder="Choose Microdistrict" Data="@getMicrodistrictsForMicrodistrictIdResult"
                                                TextProperty="NameMicrodistrict" ValueProperty="IdMicrodistrict" Name="MicrodistrictId" style="width: 100%">
                                </RadzenDropDown>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Sector Number" Component="SectorNumber" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox style="width: 100%" @bind-Value="@(registerofemergencybuilding.SectorNumber)" Name="SectorNumber">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Building Type" Component="BuildingTypeId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown AllowClear="true" AllowFiltering="false" @bind-Value="@(registerofemergencybuilding.BuildingTypeId)"
                                                Placeholder="Choose Microdistrict" Data="@getBuildingTypesForBuildingTypeIdResult"
                                                TextProperty="NameBuildingType" ValueProperty="IdBuildingType" Name="BuildingTypeId" style="width: 100%">
                                </RadzenDropDown>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Type Of Ownership" Component="TypeOfOwnershipId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown AllowClear="true" AllowFiltering="false" @bind-Value="@(registerofemergencybuilding.TypeOfOwnershipId)"
                                                Placeholder="Choose Microdistrict" Data="@getTypeOfOwnershipsForTypeOfOwnershipIdResult"
                                                TextProperty="NameTypeOfOwnership" ValueProperty="IdTypeOfOwnership" Name="TypeOfOwnershipId" style="width: 100%">
                                </RadzenDropDown>
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Street Categories" Component="AddressingId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown TValue="int" @bind-Value="streetCategoriesId" Placeholder="Select street categores" AllowFiltering="true"
                                                Data="@(getStreetCategoriesResult)" TextProperty="NameCategoryUa" ValueProperty="IdStreetCategory" style="width: 100%">
                                </RadzenDropDown>

                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Street" Component="AddressingId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown AllowClear="true" AllowFiltering="true" TValue="int" @bind-Value="streetId" Placeholder="Select street" Data="(getStreetResult?.Where(x => x.StreetCategoryId == streetCategoriesId))"
                                                ValueProperty="IdStreets" TextProperty="NameStreetsUa" Name="StreetsId" style="width: 100%">
                                </RadzenDropDown>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Addressing" Component="AddressingId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value="@(registerofemergencybuilding.AddressingId)"
                                                Placeholder="Select Addressing" Data="(getAddressingsForAddressingIdResult?.Where(x => x.StreetsId == streetId))"
                                                ValueProperty="IdAddressing" TextProperty="Number" Name="StreetsId" style="width: 100%">
                                </RadzenDropDown>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Type Of Destruction" Component="TypeOfDestruction" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="100" style="width: 100%" @bind-Value="@(registerofemergencybuilding.TypeOfDestruction)" Name="TypeOfDestruction">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Type Buildings" Component="TypeBuildings" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="300" style="width: 100%" @bind-Value="@(registerofemergencybuilding.TypeBuildings)" Name="TypeBuildings">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Description" Component="Description" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="1000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.Description)" Name="Description">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Job Description" Component="JobDescription" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="2000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.JobDescription)" Name="JobDescription">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Photographic Fixation" Component="PhotographicFixationId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenUpload Url="upload/multiple" Style="margin-bottom: 20px; width: 100%" Progress="@((arge) => OnProgress(arge, "Single file Upload"))"></RadzenUpload>
                                <RadzenCard Style="overflow: auto; height: 50px; width: 100%">
                                    <RadzenProgressBar Value="@progress" Unit="@info" Visible="@(progress > 0)" Style="margin-bottom: 20px; width: 100%"></RadzenProgressBar>
                                </RadzenCard>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Note" Component="Note" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                    <RadzenTextArea MaxLength="2000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.Note)" Name="Note" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
