@page "/destruction/edit-register-of-emergency-building/{IdRegisterOfEmergencyBuildings}"
@layout MainLayout
@inherits Reestr.Blazor.Component.Destructions.EditRegisterOfEmergencyBuildingsComponent

@using Radzen
@using Radzen.Blazor
@using Reestr.Database.Model

<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="RegisterOfEmergencyBuildings" Data="@registerofemergencybuilding" Visible="@(registerofemergencybuilding != null)" Submit="@Form0Submit">
                    <ChildContent>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Microdistrict" Component="MicrodistrictId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid Data="@getMicrodistrictsForMicrodistrictIdResult" TextProperty="NameMicrodistrict" ValueProperty="IdMicrodistrict" Placeholder="Choose Microdistrict" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(registerofemergencybuilding.MicrodistrictId)" Name="MicrodistrictId">
                                </RadzenDropDownDataGrid>
                                <RadzenRequiredValidator Component="MicrodistrictId" Text="MicrodistrictId is required" style="position: absolute" DefaultValue="0">
                                </RadzenRequiredValidator>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Sector Number" Component="SectorNumber" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox style="width: 100%" @bind-Value="@(registerofemergencybuilding.SectorNumber)" Name="SectorNumber">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Building Type" Component="BuildingTypeId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid Data="@getBuildingTypesForBuildingTypeIdResult" TextProperty="NameBuildingType" ValueProperty="IdBuildingType" Placeholder="Choose BuildingType" ShowSearch="false" style="width: 100%" @bind-Value="@(registerofemergencybuilding.BuildingTypeId)" Name="BuildingTypeId">
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Type Of Ownership" Component="TypeOfOwnershipId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid Data="@getTypeOfOwnershipsForTypeOfOwnershipIdResult" TextProperty="NameTypeOfOwnership" ValueProperty="IdTypeOfOwnership" Placeholder="Choose TypeOfOwnership" ShowSearch="false" style="width: 100%" @bind-Value="@(registerofemergencybuilding.TypeOfOwnershipId)" Name="TypeOfOwnershipId">
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Addressing" Component="AddressingId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid Data="@getAddressingsForAddressingIdResult" TextProperty="Number" ValueProperty="IdAddressing" Placeholder="Choose Addressing" ShowSearch="false" style="width: 100%" @bind-Value="@(registerofemergencybuilding.AddressingId)" Name="AddressingId">
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Type Of Destruction" Component="TypeOfDestruction" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="100" style="width: 100%" @bind-Value="@(registerofemergencybuilding.TypeOfDestruction)" Name="TypeOfDestruction">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Type Buildings" Component="TypeBuildings" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="300" style="width: 100%" @bind-Value="@(registerofemergencybuilding.TypeBuildings)" Name="TypeBuildings">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Description" Component="Description" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="1000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.Description)" Name="Description">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Job Description" Component="JobDescription" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="2000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.JobDescription)" Name="JobDescription">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Photographic Fixation" Component="PhotographicFixationId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid Data="@getPhotographicFixationsForPhotographicFixationIdResult" TextProperty="Url" ValueProperty="IdPhotographicFixation" Placeholder="Choose PhotographicFixation" ShowSearch="false" style="width: 100%" @bind-Value="@(registerofemergencybuilding.PhotographicFixationId)" Name="PhotographicFixationId">
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Possibility Of Reconstruction" Component="PossibilityOfReconstructionId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid Data="@getPossibilityOfReconstructionsForPossibilityOfReconstructionIdResult" TextProperty="ScanDoc" ValueProperty="IdPossibilityOfReconstruction" Placeholder="Choose PossibilityOfReconstruction" ShowSearch="false" style="width: 100%" @bind-Value="@(registerofemergencybuilding.PossibilityOfReconstructionId)" Name="PossibilityOfReconstructionId">
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Note" Component="Note" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="2000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.Note)" Name="Note">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button4Click">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
