@page "/destruction/edit-register-of-emergency-building/{IdRegisterOfEmergencyBuildings}"
@layout MainLayout
@inherits Reestr.Blazor.Component.Destructions.EditRegisterOfEmergencyBuildingsComponent

@using Radzen
@using Radzen.Blazor
@using Reestr.Database.Model

<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="RegisterOfEmergencyBuildings" Data="@registerofemergencybuilding" Visible="@(registerofemergencybuilding != null)" Submit="@Form0Submit">
                    <ChildContent>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Addressing" Component="AddressingId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown Data="@getAddressingsResult" TextProperty="Number" ValueProperty="IdAddressing" Placeholder="Choose Addressing" style="width: 100%" @bind-Value="@(registerofemergencybuilding.AddressingId)" Name="AddressingId">
                                </RadzenDropDown>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Type Of Destruction" Component="TypeOfDestruction" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="100" style="width: 100%" @bind-Value="@(registerofemergencybuilding.TypeOfDestruction)" Name="TypeOfDestruction">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Type Buildings" Component="TypeBuildings" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="300" style="width: 100%" @bind-Value="@(registerofemergencybuilding.TypeBuildings)" Name="TypeBuildings">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Description" Component="Description" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="1000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.Description)" Name="Description">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Job Description" Component="JobDescription" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="2000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.JobDescription)" Name="JobDescription">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Photographic Fixation Id" Component="PhotographicFixationId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenNumeric style="width: 100%" @bind-Value="@(registerofemergencybuilding.PhotographicFixationId)" Name="PhotographicFixationId">
                                </RadzenNumeric>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Possibility Of Reconstruction Id" Component="PossibilityOfReconstructionId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenNumeric style="width: 100%" @bind-Value="@(registerofemergencybuilding.PossibilityOfReconstructionId)" Name="PossibilityOfReconstructionId">
                                </RadzenNumeric>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Note" Component="Note" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="2000" style="width: 100%" @bind-Value="@(registerofemergencybuilding.Note)" Name="Note">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
