@page "/destruction/register-of-emergency-buildings"
@layout MainLayout
@inherits Reestr.Blazor.Component.Destructions.RegisterOfEmergencyBuildingsComponent

@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Authorization
@using Reestr.Database.Model

@attribute [Authorize(Roles = "Administrator, Destruction table editor, Editor full rights, Manager")]

<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="Реєстр пошкоджених об'єктів будівництва">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">

                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Додати" Click="@Button0Click">
                </RadzenButton>
                <RadzenButton Icon="announcement" style="margin-bottom: 10px" Text="Аналітичний звіт" Click="@ButtonSratisticClick" ButtonStyle="ButtonStyle.Info">
                </RadzenButton>
                <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="Radzen.FilterMode.Advanced" RowDoubleClick="@Grid0RowSelect"
                                AllowColumnPicking="true" AllowColumnResize="true" AllowPaging="true" PageSize="10" AllowSorting="true" Data="@getRegisterOfEmergencyBuildingsResult"
                                TItem="RegisterOfEmergencyBuildings" PagerHorizontalAlign="HorizontalAlign.Center" ExpandMode="DataGridExpandMode.Single"   RowExpand="@Grid0RowExpand">
                    <Columns>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="false" Property="IdRegisterOfEmergencyBuildings" Title="Id">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="false" Property="AddressesApiId" Title="Api Id">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="true" Property="AddressesApiId" SortProperty="AddressingApi.TypeUkr" GroupProperty="AddressingApi.TypeUkr" FilterProperty="AddressingApi.TypeUkr" Title="Тип вулиць">
                            <Template Context="data">
                                @(data.AddressingApi?.TypeUkr)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="true" Property="AddressesApiId" SortProperty="AddressingApi.NameUkr" GroupProperty="AddressingApi.NameUkr" FilterProperty="AddressingApi.NameUkr" Title="Назва вулиць">
                            <Template Context="data">
                                @(data.AddressingApi?.NameUkr)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="true" Property="AddressesApiId" SortProperty="AddressingApi.Number" GroupProperty="AddressingApi.Number" FilterProperty="AddressingApi.Number" Title="Номер будинку">
                            <Template Context="data">
                                @(data.AddressingApi?.Number)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="false" Property="MicrodistrictId" SortProperty="Microdistrict.NameMicrodistrict" GroupProperty="Microdistrict.NameMicrodistrict" FilterProperty="Microdistrict.NameMicrodistrict" Title="Мікрорайон">
                            <Template Context="data">
                                @(data.Microdistrict?.NameMicrodistrict)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="false" Property="SectorNumber" Title="Номер ділянки">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="BuildingTypeId" SortProperty="BuildingType.NameBuildingType" GroupProperty="BuildingType.NameBuildingType" FilterProperty="BuildingType.NameBuildingType" Title="Тип будівлі">
                            <Template Context="data">
                                @(data.BuildingType?.NameBuildingType)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="false" Property="TypeOfOwnershipId" SortProperty="TypeOfOwnership.NameTypeOfOwnership" GroupProperty="TypeOfOwnership.NameTypeOfOwnership" FilterProperty="TypeOfOwnership.NameTypeOfOwnership" Title="Тип власності">
                            <Template Context="data">
                                @(data.TypeOfOwnership?.NameTypeOfOwnership)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="TypeOfDestruction" Title="Характер руйнування">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="false" Property="TypeBuildings" Title="Функціонального використання">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="Description" Title="Опис руйнування">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="false" Property="JobDescription" Title="Опис роботи">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="Note" Title="Примітка">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="false" Property="DataSource" Title="Джерело даних">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Visible="true" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center">
                            <Template Context="RegisterOfEmergencyBuilding">
                                @if (RegisterOfEmergencyBuilding.PhotographicFixation.FirstOrDefault() != null)
                                {
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="pageview" Size="ButtonSize.Small" Click="@((args) =>ButtonClickImgPage(RegisterOfEmergencyBuilding.IdRegisterOfEmergencyBuildings))" @onclick:stopPropagation="true">
                </RadzenButton>}
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                    <Template Context="testWebModelsReestrDbDgaRegisterOfEmergencyBuilding">
                        <RadzenHeading Size="H5" Text="Інформація про руйнування будівлі">
                        </RadzenHeading>
                        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@((args) =>InformationAboutDestructionAddButtonClick(args, testWebModelsReestrDbDgaRegisterOfEmergencyBuilding))">
                        </RadzenButton>
                        <RadzenDataGrid @ref="grid1" Data="@(testWebModelsReestrDbDgaRegisterOfEmergencyBuilding.InformationAboutDestruction)" AllowFiltering="true" AllowPaging="true" AllowSorting="true" TItem="InformationAboutDestruction" FilterMode="Radzen.FilterMode.Advanced" RowSelect="@((args) =>Grid1RowSelect(args, testWebModelsReestrDbDgaRegisterOfEmergencyBuilding))">
                            <Columns>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false"  Property="IdInformationAboutDestruction" Title="Id Information About Destruction">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="BuildingStructures" Title="Конструкції">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="CompleteDestructionOfTheBuilding" Title="Повна руйнація">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="DamageDesign" Title="Пошкодження конструкція">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="DestroyedBasement" Title="Зруйновано цокольний поверх">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="RoofDestruction" Title="Руйнування покрівлі">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="Quantity" Title="Руйнування фасаду">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="GlazingDamage" Title="Руйнування балконів">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false"  Property="GlazingDamageQuantity" Title="Glazing Damage Quantity">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="BalconiesDestroyed" Title="Ушкодження скління">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false"  Property="BalconiesDestroyedQuantity" Title="Balconies Destroyed Quantity">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="DestroyedEntrances" Title="Зруйновано під'їзди">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="DamagedElevators" Title="Пошкоджено ліфтів">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false"  Property="Electricity" Title="Electricity">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false" Property="Gas" Title="Gas">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false"  Property="ColdWater" Title="Cold Water">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false"  Property="HotWater" Title="Hot Water">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false"  Property="Heating" Title="Heating">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Visible="false"  Property="RegisterOfEmergencyBuildingsId" SortProperty="RegisterOfEmergencyBuilding.SectorNumber" GroupProperty="RegisterOfEmergencyBuilding.SectorNumber" FilterProperty="RegisterOfEmergencyBuilding.SectorNumber" Title="Register Of Emergency Building">
                                    <Template Context="data">
                                        @(data.RegisterOfEmergencyBuildings?.SectorNumber)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="InformationAboutDestruction" Property="date" FormatString="{0:d}" Title="Дата руйнування">
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </Template>
                </RadzenDataGrid>

            </div>
        </div>
    </ChildContent>
</RadzenContent>
