@page "/destruction/register-of-emergency-buildings"
@layout MainLayout
@inherits Reestr.Blazor.Component.Destructions.RegisterOfEmergencyBuildingsComponent

@using Radzen
@using Radzen.Blazor
@using Reestr.Database.Model

<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="Реєстр аварійних будівель та споруд">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">
                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
                </RadzenButton>          
                <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" RowDoubleClick="@Grid0RowSelect"  AllowColumnResize="true"  AllowPaging="true" PageSize="15" AllowSorting="true" Data="@getRegisterOfEmergencyBuildingsResult" TItem="RegisterOfEmergencyBuildings">
                    <Columns>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="IdRegisterOfEmergencyBuildings" Title="Id">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="MicrodistrictId" SortProperty="Microdistrict.NameMicrodistrict" GroupProperty="Microdistrict.NameMicrodistrict" FilterProperty="Microdistrict.NameMicrodistrict" Title="Мікрорайон">
                            <Template Context="data">
                                @(data.Microdistrict?.NameMicrodistrict)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="SectorNumber" Title="Номер ділянки">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="BuildingTypeId" SortProperty="BuildingType.NameBuildingType" GroupProperty="BuildingType.NameBuildingType" FilterProperty="BuildingType.NameBuildingType" Title="Тип будівлі">
                            <Template Context="data">
                                @(data.BuildingType?.NameBuildingType)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="TypeOfOwnershipId" SortProperty="TypeOfOwnership.NameTypeOfOwnership" GroupProperty="TypeOfOwnership.NameTypeOfOwnership" FilterProperty="TypeOfOwnership.NameTypeOfOwnership" Title="Тип власності">
                            <Template Context="data">
                                @(data.TypeOfOwnership?.NameTypeOfOwnership)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="AddressingId" SortProperty="Addressing.Number" GroupProperty="Addressing.Number" FilterProperty="Addressing.Number" Title="Адреса">
                            <Template Context="data">
                                @(data.Addressing.Streets.StreetCategory.NameCategoryUa)
                                @(data.Addressing.Streets.NameStreetsUa)
                                @(data.Addressing?.Number)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuilding" Property="TypeOfDestruction" Title="Тип руйнування">
                        </RadzenDataGridColumn>
                        @*<RadzenDataGridColumn TItem="RegisterOfEmergencyBuilding" Property="TypeBuildings" Title="Type Buildings">
                        </RadzenDataGridColumn>*@
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuilding" Property="Description" Title="Опис">
                        </RadzenDataGridColumn> 
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuilding" Property="JobDescription" Title="Описання роботи">
                        </RadzenDataGridColumn>
                        @*<RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="PhotographicFixationId" SortProperty="PhotographicFixation.Url" GroupProperty="PhotographicFixation.Url" FilterProperty="PhotographicFixation.Url" Title="Фотофіксація">
                            <Template Context="data">
                                @(data.PhotographicFixation?.Url)
                            </Template>
                        </RadzenDataGridColumn>*@
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuildings" Property="PossibilityOfReconstructionId" SortProperty="PossibilityOfReconstruction.ScanDoc" GroupProperty="PossibilityOfReconstruction.ScanDoc" FilterProperty="PossibilityOfReconstruction.ScanDoc" Title="Можливість реконструкції">
                            <Template Context="data">
                                @(data.PossibilityOfReconstruction?.ScanDoc)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuilding" Property="Note" Title="Примітка">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RegisterOfEmergencyBuilding" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                            <Template Context="demoRaszenModelsReestrDbDgaRegisterOfEmergencyBuilding">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, demoRaszenModelsReestrDbDgaRegisterOfEmergencyBuilding))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
