@page "/urbanonymy/add-street"
@layout MainLayout
@inherits Reestr.Blazor.Component.Urbanonymy.AddStreetComponent

@using Radzen
@using Radzen.Blazor
@using Reestr.Database.Model
@attribute [Authorize(Roles = "Administrator, Editor full rights, Manager")]
<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@street" TItem="Streets" Visible="@(street != null)" Submit="@Form0Submit">
                    <ChildContent>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Component="StreetCategoryId" style="width: 100%" Text="Street Category">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown AllowFiltering="true" AllowVirtualization="true" Data="@getStreetCategoriesResult" FilterCaseSensitivity="FilterCaseSensitivity.Default"
                                                FilterOperator="StringFilterOperator.StartsWith" Placeholder="Choose StreetCategory" style="width: 100%" TextProperty="NameCategoryUa" @bind-Value="@(street.StreetCategoryId)"
                                                ValueProperty="IdStreetCategory" Name="StreetCategoryId">
                                </RadzenDropDown>
                            </div>
                        </div>

                        @*<div style="margin-bottom: 1rem" class="row">
                                <div class="col-md-3">
                                    <RadzenLabel Component="SolutionId" style="width: 100%" Text="Solution">
                                    </RadzenLabel>
                                </div>
                                <div class="col-md-9">
                                    <RadzenDropDown Data="@getSolutionsResult" Placeholder="Choose Solution" style="width: 100%" TextProperty="UrlSolution" @bind-Value="@(street.SolutionId)" ValueProperty="IdSolution" Name="SolutionId">
                                    </RadzenDropDown>
                                </div>
                            </div>*@

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Component="SolutionId" style="width: 100%" Text="Solution">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid AllowClear="true" AllowFilteringByAllStringColumns="true" Data="@getSolutionsResult" style="width: 100%" TValue="int?" TextProperty="DecisionNumber" @bind-Value="@(street.SolutionId)" ValueProperty="IdSolution" Name="SolutionId">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn Property="DecisionNumber" Title="Decision Number">
                                        </RadzenDropDownDataGridColumn>
                                        <RadzenDropDownDataGridColumn FormatString="{0:d}" Property="DecisionDate" Title="Decision Date">
                                        </RadzenDropDownDataGridColumn>
                                        <RadzenDropDownDataGridColumn Property="UrlSolution" Title="Url Solution">
                                        </RadzenDropDownDataGridColumn>
                                    </Columns>
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Component="SolutionId" style="width: 100%" Text="Solution">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid AllowClear="true" AllowFilteringByAllStringColumns="true" Data="@getSolutionsResult" style="width: 100%" TValue="int?" TextProperty="DecisionNumber" @bind-Value="@(street.SolutionId)" ValueProperty="IdSolution" Name="SolutionId">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn Property="DecisionNumber" Title="Decision Number">
                                        </RadzenDropDownDataGridColumn>
                                        <RadzenDropDownDataGridColumn FormatString="{0:d}" Property="DecisionDate" Title="Decision Date">
                                        </RadzenDropDownDataGridColumn>
                                        <RadzenDropDownDataGridColumn Property="UrlSolution" Title="Url Solution">
                                        </RadzenDropDownDataGridColumn>
                                    </Columns>
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>



                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Component="StreetsMapId" style="width: 100%" Text="Streets Map Id">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenNumeric style="width: 100%" @bind-Value="@(street.StreetsMapId)" Name="StreetsMapId">
                                </RadzenNumeric>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Component="NameStreetsRu" style="width: 100%" Text="Name Streets Ru">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="100" style="width: 100%" @bind-Value="@(street.NameStreetsRu)" Name="NameStreetsRu">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Component="NameStreetsUa" style="width: 100%" Text="Name Streets Ua">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="100" style="width: 100%" @bind-Value="@(street.NameStreetsUa)" Name="NameStreetsUa">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Component="Status" style="width: 100%" Text="Status">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenCheckBox @bind-Value="@(street.Status)" Name="Status">
                                </RadzenCheckBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
