@page "/urbanonymy/data-streets"
@layout MainLayout
@inherits Reestr.Blazor.Component.Urbanonymy.StreetsComponent

@using Radzen
@using Radzen.Blazor
@using Reestr.Database.Model

<RadzenContent Container="main">
  <ChildContent>     
    <RadzenHeading Size="H1" Text="Реєстр урбанонімів міста Харків" Style="text-align:center">
    </RadzenHeading>
    <div class="row">
        <div class="col-md-12">
            <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Додати" Click="@Button0Click">
            </RadzenButton>
            <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
            </RadzenTextBox>
            <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" PageSize="15" AllowPaging="true" AllowSorting="true" Data="@getStreetsResult" TItem="Streets" RowSelect="@Grid0RowSelect">
                <Columns>
                    @*<RadzenDataGridColumn TItem="Streets" Property="IdStreets" Title="Id Streets">
                </RadzenDataGridColumn>*@
                    <RadzenDataGridColumn TItem="Streets" Property="StreetCategoryId" SortProperty="StreetCategory.NameCategoryUa" GroupProperty="StreetCategory.NameCategoryUa" FilterProperty="StreetCategory.NameCategoryUa" Title="Категорія вулиць">
                        <Template Context="data">
                            @(data.StreetCategory?.NameCategoryUa)
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Streets" Property="SolutionId" SortProperty="Solution.UrlSolution" GroupProperty="Solution.UrlSolution" FilterProperty="Solution.UrlSolution" Title="Рішення">
                        <Template Context="data">
                            @(data.Solution?.DecisionNumber)
                            @(data.Solution?.DecisionDate)
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Streets" Property="StreetsMapId" Title="Номер на мапі">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Streets" Property="NameStreetsRu" Title="Назва вулиці (Ru)">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Streets" Property="NameStreetsUa" Title="Назва вулиці (Ua)">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Streets" Property="Status" Title="Статус вулиці">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Streets" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                        <Template Context="testModelsReestrDbStreet">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, testModelsReestrDbStreet))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
  </ChildContent>
</RadzenContent>
