@page "/addressings/edit-addressing/{IdAddressing}"
@layout MainLayout
@inherits Reestr.Blazor.Component.Addressings.EditAddressingComponent

@using Radzen
@using Radzen.Blazor
@using Reestr.Database.Model

<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="Addressing" Data="@addressing" Visible="@(addressing != null)" Submit="@Form0Submit">
                    <ChildContent>


                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Component="StreetsId" style="width: 100%" Text="Street">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDownDataGrid Data="@getStreetsResult" Placeholder="Choose Street" ShowSearch="false" style="width: 100%" TextProperty="NameStreetsUa" @bind-Value="@(addressing.StreetsId)" ValueProperty="IdStreets" Name="StreetsId">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn FilterProperty="StreetCategory.NameCategoryUa" GroupProperty="StreetCategory.NameCategoryUa" Property="StreetCategoryId" SortProperty="StreetCategory.NameCategoryUa" Title="Street Category">
                                            <Template Context="data">
                                                @(((Streets)data).StreetCategory?.NameCategoryUa)
                                            </Template>
                                        </RadzenDropDownDataGridColumn>
                                        <RadzenDropDownDataGridColumn Property="NameStreetsUa" Title="Name Streets Ua">
                                        </RadzenDropDownDataGridColumn>
                                    </Columns>
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>

                        
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="District" Component="DistrictsId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown Data="@getDistrictsResult" TextProperty="NameDistricts" ValueProperty="IdDistricts" Placeholder="Choose District" style="width: 100%" @bind-Value="@(addressing.DistrictsId)" Name="DistrictsId">
                                </RadzenDropDown>
                            </div>
                        </div>

                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Number" Component="Number" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(addressing.Number)" Name="Number">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Frame" Component="Frame" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="10" style="width: 100%" @bind-Value="@(addressing.Frame)" Name="Frame">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Letter" Component="Letter" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox MaxLength="200" style="width: 100%" @bind-Value="@(addressing.Letter)" Name="Letter">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Postcode" Component="PostcodeId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown Data="@getPostcodesResult" TextProperty="IdPostcode" ValueProperty="IdPostcode" Placeholder="Choose Postcode" style="width: 100%" @bind-Value="@(addressing.PostcodeId)" Name="PostcodeId">
                                </RadzenDropDown>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Address Type" Component="AddressTypeId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenDropDown Data="@getAddressTypesResult" TextProperty="NameAddressType" ValueProperty="IdAddressType" Placeholder="Choose AddressType" style="width: 100%" @bind-Value="@(addressing.AddressTypeId)" Name="AddressTypeId">
                                </RadzenDropDown>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Addressing Map Id" Component="AddressingMapId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenNumeric style="width: 100%" @bind-Value="@(addressing.AddressingMapId)" Name="AddressingMapId">
                                </RadzenNumeric>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Floor" Component="Floor" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenNumeric style="width: 100%" @bind-Value="@(addressing.Floor)" Name="Floor">
                                </RadzenNumeric>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Зберегти" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Скасувати" Click="@Button2Click">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
